body {
    background-image: url(Images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    display: flex;
    position: relative;
    top: 200px;
    left: 500px;
    padding: 25px;
    border: solid;
    width: 200px;
    background-color: antiquewhite;
    height: auto;
    
}
